In [1]:

import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt

### Calling the CSV file

In [2]:
df1 = pd.read_csv(r"C:\Users\DELL\batch RahuL\Web Scraping\IMDB-H.csv")

In [3]:
df1

,Movie_Title,Year,Duration,Imdb_Rating,Certificate,Voting,Metascore_Rating,Directors
0,1. The Godfather,1972,2h 55m,9.2,R,(2.1M),100.0,Francis Ford Coppola
1,2. The Silence of the Lambs,1991,1h 58m,8.6,R,(1.6M),86.0,Jonathan Demme
2,3. Star Wars: Episode V - The Empire Strikes Back,1980,2h 4m,8.7,PG,(1.4M),82.0,Irvin Kershner
3,4. The Shawshank Redemption,1994,2h 22m,9.3,R,(3M),82.0,Frank Darabont
4,5. The Shining,1980,2h 26m,8.4,R,(1.1M),68.0,Stanley Kubrick
...,...,...,...,...,...,...,...,...
495,"496. Me, Myself & Irene",2000,1h 56m,6.6,R,(255K),49.0,Bobby Farrelly
496,497. The Darjeeling Limited,2007,1h 31m,7.2,R,(220K),67.0,Wes Anderson
497,498. Fear,1996,1h 37m,6.2,R,(57K),51.0,James Foley
498,499. Planet Terror,2007,1h 45m,7.0,R,(226K),NaN,Robert Rodriguez
499,500. The Descent,2005,1h 39m,7.2,R,(255K),71.0,Neil Marshall

### Making A Copy

In [4]:
df= df1.copy()

### Setting the index

In [5]:
df.index = df.index + 1

In [6]:
df

,Movie_Title,Year,Duration,Imdb_Rating,Certificate,Voting,Metascore_Rating,Directors
1,1. The Godfather,1972,2h 55m,9.2,R,(2.1M),100.0,Francis Ford Coppola
2,2. The Silence of the Lambs,1991,1h 58m,8.6,R,(1.6M),86.0,Jonathan Demme
3,3. Star Wars: Episode V - The Empire Strikes Back,1980,2h 4m,8.7,PG,(1.4M),82.0,Irvin Kershner
4,4. The Shawshank Redemption,1994,2h 22m,9.3,R,(3M),82.0,Frank Darabont
5,5. The Shining,1980,2h 26m,8.4,R,(1.1M),68.0,Stanley Kubrick
...,...,...,...,...,...,...,...,...
496,"496. Me, Myself & Irene",2000,1h 56m,6.6,R,(255K),49.0,Bobby Farrelly
497,497. The Darjeeling Limited,2007,1h 31m,7.2,R,(220K),67.0,Wes Anderson
498,498. Fear,1996,1h 37m,6.2,R,(57K),51.0,James Foley
499,499. Planet Terror,2007,1h 45m,7.0,R,(226K),NaN,Robert Rodriguez
500,500. The Descent,2005,1h 39m,7.2,R,(255K),71.0,Neil Marshall

In [7]:
df.info()

# Here voting is Object type

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 1 to 500
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Movie_Title       500 non-null    object
 1   Year              500 non-null    int64
 2   Duration          486 non-null    object
 3   Imdb_Rating       500 non-null    float64
 4   Certificate       482 non-null    object
 5   Voting            500 non-null    object
 6   Metascore_Rating  490 non-null    float64
 7   Directors         500 non-null    object
dtypes: float64(2), int64(1), object(5)
memory usage: 31.4+ KB

### Cleaning the Voting column

In [8]:
def convert_voting(vote):
    try:
        # Attempt to strip and process the value as a string
        vote = vote.strip()  # Remove leading and trailing spaces
        vote = vote.replace('(', '').replace(')', '')  # Remove parentheses if present
        if 'M' in vote:
            return int(float(vote.replace('M', '')) * 1_000_000)  # Convert millions to integer
        elif 'K' in vote:
            return int(float(vote.replace('K', '')) * 1_000)  # Convert thousands to integer
        return int(vote)  # Convert directly to integer
    except AttributeError:
        # If an AttributeError occurs (e.g., vote is an integer), return the value as is
        return int(vote)
    except ValueError:
        # Handle other cases where conversion fails
        return None

# Apply the conversion function to the 'Voting' column
df['Voting'] = df['Voting'].apply(convert_voting)

# Ensure 'Voting' is converted to an integer type while handling missing values
df['Voting'] = df['Voting'].astype('Int64')

In [9]:
df.head()

,Movie_Title,Year,Duration,Imdb_Rating,Certificate,Voting,Metascore_Rating,Directors
1,1. The Godfather,1972,2h 55m,9.2,R,2100000,100.0,Francis Ford Coppola
2,2. The Silence of the Lambs,1991,1h 58m,8.6,R,1600000,86.0,Jonathan Demme
3,3. Star Wars: Episode V - The Empire Strikes Back,1980,2h 4m,8.7,PG,1400000,82.0,Irvin Kershner
4,4. The Shawshank Redemption,1994,2h 22m,9.3,R,3000000,82.0,Frank Darabont
5,5. The Shining,1980,2h 26m,8.4,R,1100000,68.0,Stanley Kubrick

### Converting the Duration column

In [12]:
def convert_to_minutes(duration):
    try:
        # Remove leading/trailing whitespace
        duration = duration.strip()
        hours, minutes = 0, 0
        if 'h' in duration:
            parts = duration.split('h')
            hours = int(parts[0].strip())  # Extract hours
            if len(parts) > 1 and 'm' in parts[1]:
                minutes = int(parts[1].replace('m', '').strip())  # Extract minutes
        elif 'm' in duration:
            minutes = int(duration.replace('m', '').strip())  # Handle only minutes
        return hours * 60 + minutes
    except (AttributeError, ValueError):  # Handle invalid types or malformed strings
        return None  # Return None for invalid entries


# Applying the function
df['Duration'] = df['Duration'].apply(convert_to_minutes)

In [13]:
df.head()

,Movie_Title,Year,Duration,Imdb_Rating,Certificate,Voting,Metascore_Rating,Directors
1,1. The Godfather,1972,175,9.2,R,2100000,100.0,Francis Ford Coppola
2,2. The Silence of the Lambs,1991,118,8.6,R,1600000,86.0,Jonathan Demme
3,3. Star Wars: Episode V - The Empire Strikes Back,1980,124,8.7,PG,1400000,82.0,Irvin Kershner
4,4. The Shawshank Redemption,1994,142,9.3,R,3000000,82.0,Frank Darabont
5,5. The Shining,1980,146,8.4,R,1100000,68.0,Stanley Kubrick

In [14]:
df

,Movie_Title,Year,Duration,Imdb_Rating,Certificate,Voting,Metascore_Rating,Directors
1,1. The Godfather,1972,175,9.2,R,2100000,100.0,Francis Ford Coppola
2,2. The Silence of the Lambs,1991,118,8.6,R,1600000,86.0,Jonathan Demme
3,3. Star Wars: Episode V - The Empire Strikes Back,1980,124,8.7,PG,1400000,82.0,Irvin Kershner
4,4. The Shawshank Redemption,1994,142,9.3,R,3000000,82.0,Frank Darabont
5,5. The Shining,1980,146,8.4,R,1100000,68.0,Stanley Kubrick
...,...,...,...,...,...,...,...,...
496,"496. Me, Myself & Irene",2000,116,6.6,R,255000,49.0,Bobby Farrelly
497,497. The Darjeeling Limited,2007,91,7.2,R,220000,67.0,Wes Anderson
498,498. Fear,1996,97,6.2,R,57000,51.0,James Foley
499,499. Planet Terror,2007,105,7.0,R,226000,NaN,Robert Rodriguez
500,500. The Descent,2005,99,7.2,R,255000,71.0,Neil Marshall

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 1 to 500
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Movie_Title       500 non-null    object
 1   Year              500 non-null    int64
 2   Duration          500 non-null    int64
 3   Imdb_Rating       500 non-null    float64
 4   Certificate       500 non-null    object
 5   Voting            500 non-null    Int64
 6   Metascore_Rating  490 non-null    float64
 7   Directors         500 non-null    object
dtypes: Int64(1), float64(2), int64(2), object(3)
memory usage: 31.9+ KB

## CLEANING THE DATAFRAME

### Removing the uneccessary values from the Rows

In [16]:
df['Movie_Title'] = df['Movie_Title'].str.replace(r'^\d+\.\s+', '', regex=True)

In [17]:
df['Imdb_Rating'] = pd.to_numeric(df['Imdb_Rating'], errors='coerce')

### Assigning D-types.

In [18]:
df['Year'] = pd.to_numeric(df['Year'], errors='coerce')

In [19]:
df['Metascore_Rating'] = pd.to_numeric(df['Metascore_Rating'], errors='coerce')

In [20]:
df['Voting'] = df['Voting'].astype(int)

In [21]:
df['Duration'] = df['Duration'].astype(int)

In [22]:
df.head()

,Movie_Title,Year,Duration,Imdb_Rating,Certificate,Voting,Metascore_Rating,Directors
1,The Godfather,1972,175,9.2,R,2100000,100.0,Francis Ford Coppola
2,The Silence of the Lambs,1991,118,8.6,R,1600000,86.0,Jonathan Demme
3,Star Wars: Episode V - The Empire Strikes Back,1980,124,8.7,PG,1400000,82.0,Irvin Kershner
4,The Shawshank Redemption,1994,142,9.3,R,3000000,82.0,Frank Darabont
5,The Shining,1980,146,8.4,R,1100000,68.0,Stanley Kubrick

### Filling Nan Values

In [23]:
df.isnull().sum()

Movie_Title          0
Year                 0
Duration             0
Imdb_Rating          0
Certificate          0
Voting               0
Metascore_Rating    10
Directors            0
dtype: int64

In [24]:
df["Metascore_Rating"].mean()
df["Metascore_Rating"] = df["Metascore_Rating"].fillna(df["Metascore_Rating"].mean())

In [25]:
df['Duration'] =df['Duration'].fillna('2h')
np.random.seed(42)


# since object d type filling with a mean/average assumed value instead
# taking 2h as it is simple to write and fill and also done randomly (random number generator)
# To ensure consistency, arbitary value,

In [26]:
certificate_choices = ['R', 'PG', 'PG-13', 'G', 'NC-17']
df['Certificate'] = df['Certificate'].fillna(pd.Series(np.random.choice(certificate_choices, size=len(df))))

# categorical column hence filling this way
# similarly filling genre with random choice from available options
# Certificate Choices avaialable from URL

### Checking for Duplicates

In [27]:
duplicates = df.duplicated()
df[duplicates]

Empty DataFrame
Columns: [Movie_Title, Year, Duration, Imdb_Rating, Certificate, Voting, Metascore_Rating, Directors]
Index: []

In [28]:
df.duplicated().sum()

0

In [29]:
# No duplicates No need to remove
# df = df.drop_duplicates()

## Cleaned DataFrame

In [30]:
df

,Movie_Title,Year,Duration,Imdb_Rating,Certificate,Voting,Metascore_Rating,Directors
1,The Godfather,1972,175,9.2,R,2100000,100.000000,Francis Ford Coppola
2,The Silence of the Lambs,1991,118,8.6,R,1600000,86.000000,Jonathan Demme
3,Star Wars: Episode V - The Empire Strikes Back,1980,124,8.7,PG,1400000,82.000000,Irvin Kershner
4,The Shawshank Redemption,1994,142,9.3,R,3000000,82.000000,Frank Darabont
5,The Shining,1980,146,8.4,R,1100000,68.000000,Stanley Kubrick
...,...,...,...,...,...,...,...,...
496,"Me, Myself & Irene",2000,116,6.6,R,255000,49.000000,Bobby Farrelly
497,The Darjeeling Limited,2007,91,7.2,R,220000,67.000000,Wes Anderson
498,Fear,1996,97,6.2,R,57000,51.000000,James Foley
499,Planet Terror,2007,105,7.0,R,226000,73.612245,Robert Rodriguez
500,The Descent,2005,99,7.2,R,255000,71.000000,Neil Marshall

In [31]:
df.isnull().sum()

Movie_Title         0
Year                0
Duration            0
Imdb_Rating         0
Certificate         0
Voting              0
Metascore_Rating    0
Directors           0
dtype: int64

In [32]:
df.head()

,Movie_Title,Year,Duration,Imdb_Rating,Certificate,Voting,Metascore_Rating,Directors
1,The Godfather,1972,175,9.2,R,2100000,100.0,Francis Ford Coppola
2,The Silence of the Lambs,1991,118,8.6,R,1600000,86.0,Jonathan Demme
3,Star Wars: Episode V - The Empire Strikes Back,1980,124,8.7,PG,1400000,82.0,Irvin Kershner
4,The Shawshank Redemption,1994,142,9.3,R,3000000,82.0,Frank Darabont
5,The Shining,1980,146,8.4,R,1100000,68.0,Stanley Kubrick

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 1 to 500
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Movie_Title       500 non-null    object
 1   Year              500 non-null    int64
 2   Duration          500 non-null    int32
 3   Imdb_Rating       500 non-null    float64
 4   Certificate       500 non-null    object
 5   Voting            500 non-null    int32
 6   Metascore_Rating  500 non-null    float64
 7   Directors         500 non-null    object
dtypes: float64(2), int32(2), int64(1), object(3)
memory usage: 27.5+ KB

In [34]:
df.describe()

              Year    Duration  Imdb_Rating        Voting  Metascore_Rating
count   500.000000  500.000000   500.000000  5.000000e+02        500.000000
mean   1994.798000  123.608000     7.665600  4.810299e+05         73.612245
std      16.632814   24.851752     0.589127  4.798085e+05         13.534364
min    1931.000000   76.000000     5.600000  8.570000e+02         31.000000
25%    1989.000000  105.000000     7.300000  1.437500e+05         64.000000
50%    2000.000000  120.000000     7.700000  3.190000e+05         74.000000
75%    2006.000000  136.000000     8.100000  6.767500e+05         84.000000
max    2015.000000  238.000000     9.300000  3.000000e+06        100.000000

In [36]:
df.to_csv("IMDb_Clean.csv")